@import "../../Designs/Base";

@keyframes spaceTravel
{
    from {background-size: 50%}
    to {background-size: 200%;}
}

.ProjectsContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

    overflow-y: scroll;
    height: 100%;
    width: 100%;
    background-image:
    linear-gradient(0deg, rgba(0,0,0,.75) 0%, rgba(0, 17, 255, .7), rgba(0, 17, 255, .5)),
    url('../../assets/stars.png');
    background-size: cover;
    background-blend-mode: multiply;
    background-position: 50% 50%;    

    color: $base-color;
    font-family: $primary-font;

    animation: spaceTravel 80s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    
    .ProjectsBackground{
        height: 100%;
        width: 75%;
        position: relative;
        background-color: rgba(0,0,0,0.75);
        min-width: 600px;
        position: fixed;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .ProjectsContent{
        height: 100%;
        width: 100%;
        overflow-y: scroll;
    }

    .ProjectsHeader{
        padding: 0 2em 0 2em;
        row-gap: .5em;

        overflow-y: scroll;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h1{
            font-weight: 100;
            margin: .1em 0 0 0;
            font-size: 14vw;
        }

        .ProjectsFilter{
            
            //border-top: 1px solid $base-color;
            display: flex;
            flex-wrap: wrap;
            width: auto;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            column-gap: 2em;
            row-gap: 1em;
            margin-bottom: 1em;
            //padding: 2em;

            .ProjectFilter{
                color: $base-color;
                border: 3px solid $base-color;
                padding: .5em;
                background-color: transparent;
                
                margin: 1em 0 0 0;

                transition: all .6s ease-in-out;
                transition-property: transform, color, background-color;

                &:hover{
                    transform: scale(1.25);
                }
            }
        }

        .Projects{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            align-self: flex-start;
            margin: 0;
            width: 100%;
            height: auto;
            
            //transition: flex-wrap 2s ease-in-out;
        }

        
        
    }
}

@media only screen and (max-width: 1200px) {
    
}

