@import '../Designs/Base';

.App {
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

@keyframes tendrilShift{
  from{
    transform: translateX(-100%);
  }

  to{
    transform: translateX(-0%);
  }
}

.intermission{
  height:100%;
  width:100%;
  position: absolute;
  background: linear-gradient(to left,rgba(0,0,0, .1), rgba(0,0,0, 1),rgba(0,0,0, 1),rgba(0,0,0, 1), rgba(0,0,0, .1));
  z-index: 200;
  left: -100%;

  //overflow: hidden;


}

.tendril
{
  width:100%;
  height: 20%;
  background-color: black;
  border-bottom: 1px solid transparent;

  //animation: tendrilShift 2s linear alternate-reverse infinite;  
}

.slider-enter{
  left: 100%;
  z-index: 199;
}

.slider-enter-active{
  left: -110%;
  transition: left 750ms linear;
  z-index: 199;
}

.slider-exit{
  left: 100%;
}

.slider-exit-active{
  left: -100%;
  transition: left 750ms linear;
}

.pageslide-enter{
  transform: translateX(100%);
}

.pageslide-enter-active{
  transform: translateX(0%);
  transition: transform 750ms ease-in-out;
}

.pageslide-exit{
  transform: translateX(0%);
}

.pageslide-exit-active{
  transform: translateX(-100%);
  transition: transform 750ms ease-in-out;
}
