@import '../../Designs/Base';

.NavBar{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    column-gap: 2em;
    width: 100%;

    .NavOptionContainer{
        overflow: hidden;
        display: block;
        position: relative;
        //padding: 1em;
        height: 100%;
        width: auto;

        .NavOption{
            text-decoration: none;
            overflow: hidden;
            position: relative;
            display: block;
            color: $base-color;
            font-size: 18px;
            transition: font-size 1s ease-in-out;        
            padding: .5em;  
            margin: .5em; 
            z-index: 90;
        }

        &:hover{
            .NavUpper{
                transform: translateX(0%);   
            }

            &:after{
                transform: translateY(0%);
            }

            .NavLower{
                transform: translateX(0%);  
            }

            &:before{
                transform: translateY(0%);
            }
        }

        .NavUpper{
            border-top: 4px solid $base-color;
            top: 0%;
            width: 120%;
            position: absolute;

            transform: translateX(110%); 
            transition: transform .25s linear;
        }

        &:after{
            content: "";
            position: absolute;
            
            height: 120%;
            left: 0%;
            top: 0%;

            border-left: 4px solid $base-color;

            transform: translateY(110%);
            transition: transform .25s linear;  
        }

        .NavLower{
            border-bottom: 4px solid $base-color;
            bottom: 0%;
            width: 120%;
            position: absolute;
            transform: translateX(-120%);  
            transition: transform .25s linear;  
        }

        &:before{
            content: "";
            position: absolute;

            height: 120%;
            right: 0%;
            top: 0%;

            border-right: 4px solid $base-color;

            transform: translateY(-110%);
            transition: transform .25s linear;
        }

        @media only screen and (max-width: 1000px) {
            .NavOption{
                font-size: 2vw;
            }
        }

        @media only screen and (max-width: 768px) {
            column-gap: 1em;
    
            .NavOption{
                font-size: 1.8vw;
            }

            &:hover{
                .NavUpper{
                    display: none;
                }
    
                &:after{
                    display: none;
                }
    
                .NavLower{
                    display: none; 
                }
    
                &:before{
                    display: none;
                }
            }
               
            
        }
    }
    }

   
