@import '../../Designs/Base';

.NavBar{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    column-gap: 2em;
    height: 26px;

    
    .NavOption{
        text-decoration: none;
        color: $base-color;
        font-size: 20px;
        transition: font-size 1s ease-in-out;

        &:hover{
            font-size: 26px;
        }
    }
}
