@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

$base-color: rgb(173, 216, 230); 
$complement-color: #522719;
$analog-color1: #3b4a4f;
$primary-font: 'Raleway';

:export {
    baseColor: $base-color;
    complementColor: $complement-color;
    analogColor1: $analog-color1;
}

button
{
    outline: none;
    border: none;

    &:hover{
        cursor: pointer;
    }
}

::-webkit-scrollbar{
    width: 0;

}

::-webkit-scrollbar-corner{
    background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    
}