@import '../../Designs/Base';

.Skills{
    background-color: black;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;

    @keyframes GalaxyRotate {
        from{
            transform: rotate(0deg)
        }

        to{
            transform: rotate(360deg);            
        }
    }

    .Background{
        display: block;
        position: absolute;
        z-index: 100;
        width: 150%;
        padding-bottom: 150%;
        border-radius: 100%;

        top: -75%;

        background: radial-gradient(circle at center, rgba(0, 17, 255, .3) 40%,rgba(0, 17, 255, .6), rgba(0, 17, 255, .8), rgba(0,0,0,.9) 65%), 
        url('../../assets/spiralgalaxy.png');
        background-blend-mode: multiply;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 100;

        animation: GalaxyRotate 240s infinite reverse linear;
    }

    .SkillsContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        height: 100%;
        background-size: cover;
        background-color: rgba(0, 0, 0, .75);
        z-index: 200;

        
    }

    .SkillsContent{
        z-index: 101;
        position: relative;
        height: 95%;
        width: 75%;
        font-family: 'Raleway';
        color: $base-color;
        
        overflow-y: scroll;
        padding: 0 2em 0 2em;

        display: flex;
        flex-direction: column;
        align-items: center;


        h2{
            font-size:  14vw;
            font-weight: 100;
            margin: 0 0 0 0;
            
        }

        .Heading{
            width: 50%;
            text-align: center;
            font-size: 200%;
            color: $base-color;

            background: linear-gradient(to top, rgba(0,0,0,0) 50%, $base-color 50%, rgba(0,0,0,0) 55%);
        }

        hr{
            border: none;
            border-bottom: 1px solid $base-color;

            width: 90%;
            margin: 1em auto 1em auto;
        }

        
        .Education{

            width: 75%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            height: 500px;
            //border: 1px solid $base-color;
            padding: 1em;
            margin: 1em;
            
            img{
                width: 30%;
                border: 3px solid $base-color;
                background-color: $base-color;
                align-self: flex-start;
            }

            .College{
                display: flex;
                margin-left: 1em;
                flex-direction: row;
                column-gap: 1em;
                width: 100%;
                
                padding: 1em;                

                background: linear-gradient(to right, rgba(173, 216, 230, .6), rgba(0,0,0,0) 60%);
                //border: 1px solid $base-color;
                border-radius: 25px 60px;

                .CollegeDetails{
                    text-align: left;
                    width: 70%;

                    display: flex;
                    flex-direction: column;
                    row-gap: .5em;
                    padding: .5em;

                    .CollegeName{
                        font-size: 24px;
                        width: 100%;
                        color:black;
                        padding: .5em 0 .5em .5em;
                        background-color: $base-color;

                        @media only screen and (max-width: 768px) {
                            font-size: 2.5vw;
                            font-weight: bold;
                        }
                    }

                    hr{
                        width: 100%;
                    }

                    .CollegeDetailsRow{
                        width: 100%;
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-between;

                        label{
                            width: 50%;
                            font-weight: 1000;                      
                        }

                        .CollegeRowData{
                            width: 70%;                            
                        }

                        span{
                            text-align: left;
                            font-weight: 400;
                            width: 50%;
                        }

                        @media only screen and (max-width: 768px) {
                            display: flex;
                            flex-flow: column nowrap;

                           span{
                               margin-left: 1em;
                           }
                        }

                    }
                }
            }
        }

        .Table{
            display: flex;
            flex-direction: row;
            column-gap: .5em;
            justify-content: center;
            flex-wrap: wrap;
            // margin-left: 3.125%;
            // margin-right: 3.125%;
            width: 100%;
            margin-bottom: 1em;

            align-items: flex-start;        
    
            .Column{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 1em;
                margin: 1em;
                //border-bottom: 1px solid $base-color;
                transition: transform 1.61803398875s ease-in-out;
                border-radius: 50px;

                //background-color: $base-color;
                color: $base-color;

                background: linear-gradient(to bottom, rgba(173, 216, 230, .6), rgba(0,0,0,0) 50%);

                h3{
                    background-color: transparent;
                    color: black;
                    font-size: 24px;
                    width: 100%;
                    padding: .25em 0 .25em 0;
                    margin: 0;
                }
    
                .Skill{
                    display: row;
                    align-items: center;
                    justify-content: flex-start;
                    margin: .25em;
                    font-size: 16px;
                    font-weight: bold;
                }

                &:hover{
                    transform: scale(1.1);
                }            
            }
        }
    }    

    
}


@media only screen and (max-width: 768px) {
        
    .Education .College .CollegeDetails .CollegeName label{
        font-size: 12px;
    }

    .CollegeDetailsRow{
        font-size: 2vw;
    }

}