@import '../../Designs/Base';

.ContactContainer{
    background-image: linear-gradient( to bottom, rgba(0,0,0,.7), rgba(0, 17, 255, .5), rgba(0,0,0,.7)), 
    url('../../assets/milkyway.png');
    background-blend-mode: multiply;
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2em;
    position: absolute;

    @keyframes PlanetRotate {
        from{
            background-position: 0% 0%;
        }

        to{
            background-position: 500% 0%;
        }
    }

    .ContactContent{
        width: 75%;
        position: relative;
        background-color: rgba(0,0,0, .4);
        height: 100%;
        z-index: 101;

        color: $base-color;
        font-family: 'Raleway';

        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            font-weight: 100;
            font-size: 9vw;

            margin: .5em 0 .25em 0;
        }

        hr{
            border:none;
            width: 75%;

            border-bottom: 1px solid $base-color;
            margin: 1em auto 1em auto;
        }

        p{
            width: 65%;
            font-size: 1.2vw;
            align-self: center;
            text-align: left;
        }

        .email{
            font-size: 1.3vw;
            color: white;
            font-weight: bold;
        }

        .PersonalMessage{
            text-align: center;
            margin:0;
            font-size: 2vw;

            //border: 3px solid $base-color;
            padding: 1em;
            margin-top: 1em;
        }

        @media only screen and (max-width: 1200px){
            h1{
                font-size: 12vw;
            }

            .PersonalMessage{
                font-size: 3vw;
            }

            p{
                font-size: 2vw;
            }
    
            .email{
                font-size: 2.1vw;
            }
        }
    }    

    .Mercury{
        width:7vw;
        height: 7vw;
        border-radius: 100%;
        overflow:hidden;
        background-color: transparent;
        z-index: 100;
        position: absolute;

        left: 5%;

        .MercuryContent{
            position: relative;
            background: linear-gradient(to left, rgba(0,0,0,1) 85%,rgba(0, 17, 255, .1)), 
            url('../../assets/mercury.png');
            background-size: contain;
            background-repeat: repeat;
            height: 100%;
            width: 500%;

            animation: PlanetRotate 1.002e+7s linear infinite;
        }
    }

    .Venus{
        width:18vw;
        height: 18vw;
        border-radius: 100%;
        overflow:hidden;
        background-color: transparent;
        z-index: 100;
        position: absolute;

        left: 15%;

        .VenusContent{
            position: relative;
            background: linear-gradient(to left, rgba(0,0,0,1) 85%,rgba(0, 17, 255, .1)), 
            url('../../assets/venus.png');
            background-size: contain;
            background-repeat: repeat;
            height: 100%;
            width: 500%;
            background-blend-mode: multiply;

            animation: PlanetRotate 41796s linear infinite;
        }
    }

    .Earth{
        width:18vw;
        height: 18vw;
        border-radius: 100%;
        overflow:hidden;
        background-color: transparent;
        z-index: 100;
        position: absolute;

        left: 35%;

        .EarthContent{
            position: relative;
            background: linear-gradient(to left, rgba(0,0,0,1) 85%,rgba(0, 17, 255, .1)), 
            url('../../assets/earth.png');
            background-size: contain;
            background-repeat: repeat;
            height: 100%;
            width: 500%;

            animation: PlanetRotate 172.8s linear infinite;
        }
    }

    .Mars{
        width:16vw;
        height: 16vw;
        border-radius: 100%;
        overflow:hidden;
        background-color: transparent;
        z-index: 100;
        position: absolute;

        left: 55%;

        .MarsContent{
            position: relative;
            background: linear-gradient(to left, rgba(0,0,0,1) 85%,rgba(0, 17, 255, .1)), 
            url('../../assets/mars.png');
            background-size: contain;
            background-repeat: repeat;
            height: 100%;
            width: 500%;

            animation: PlanetRotate 177.2s linear infinite;
        }
    }

    .Jupiter{
        width:35vw;
        height: 35vw;
        border-radius: 100%;
        overflow:hidden;
        background-color: transparent;
        z-index: 100;
        position: absolute;

        left: 73%;

        .JupiterContent{
            position: relative;
            background: linear-gradient(to left, rgba(0,0,0,1) 85%,rgba(0, 17, 255, .1)), 
            url('../../assets/jupiter.png');
            background-size: contain;
            background-repeat: repeat;
            height: 100%;
            width: 500%;

            animation: PlanetRotate 64.8s linear infinite;
        }
    }      
}